[2018-04-16 21:10] CeRBeR666 opened #1 "Phalcon MVC giving error"
Greetings,
your class really is very simple and clean. Thank you so much.
I wanted to use phalcon framework. But when I create an autoload with composer, I do not get the namespace of the class.
I've tried all the options.
`
namespace Vokuro\Controllers;
use Phalcon\Tag;
use Phalcon\Mvc\Model\Criteria;
use Phalcon\Paginator\Adapter\Model as Paginator;
use Vokuro\Models\Aksiyonlar;
use Vokuro\Model

[2018-04-17 08:28] EdwinHoksberg commented on #1
Hi,

You should be able to use the class like this:

[code]
or
[code]

Please look at the documentation for more examples: https://php-fcm.readthedocs.io/en/latest/

[2018-04-17 20:46] CeRBeR666 commented on #1
Hi,
Thank you for interesting. It's my bad. My composer files corrupted. Now it fixed. Everything working. Thank you.

[2018-04-18 10:00] #1 closed

[2018-10-12 14:59] bhullar89 opened #2 "No API/function retrieve a existing notification_key"
I accidentally missed to store the notification_key after creating a device group.
But when try to create same group with same device  , i get below error
[code]
Please support for getting existing notification key by passing group name
https://android.googleapis.com/gcm/notification?notification_key_name=the_name

[2018-10-23 13:09] bhullar89 commented on #2
@EdwinHoksberg
any plans for this enhancement ??
Also if we can handle if there is no device in group , the notification key gets deleted.

[2018-10-23 13:48] EdwinHoksberg commented on #2
Hi, I was kinda busy with different things, sorry for the late reply! I want to implement this soon so it should be ready in a few days, but I would also accept PR's for this 😉

[2018-11-19 10:37] thanhansoft opened #3 "How to Get sound notifications"
Hi admin,
I want to notification with sound option.
Please help me

[2019-02-20 18:17] arashifunsho opened #4 "LUMEN/LARAVEL"
So, this is not really an issue per se; I want to know if i can use this as is within Lumen or Laravel or I need some adjustments.

Apart from this, this is a really nice package to have. Kudos!

[2019-02-20 18:44] arashifunsho commented on #4
So I've decided to give it a shot and revert. Will do that.

[2019-02-20 19:00] EdwinHoksberg commented on #4
Hi! Yes this package can be used in combination with laravel or lumen. There's no service provider but it should work fine if you follow the documentation :)

[2019-02-20 20:57] arashifunsho commented on #4
Yea... I noticed that.

I also noticed that I can't send DATA and NOTIFICATION in the same payload(I checked the source/docs, correct me if I'm wrong); it's one of the two not both

[2019-02-21 07:16] #4 closed

[2019-06-05 08:59] rolinger opened #5 "Sending messages to subscription topics"
Hi, I just discovered this php-fcm package.  Looks slick and clean and I will be replacing my custom code with this - so much easier to use.  Thx.

Question though - using php-fcm how do you send messages to a subscription topic?  I have thousands of users subscribed to a various topics, but I see no way to send messages to a particular topic?  Your documentation shows how to subscribe/unsubscribe

[2019-06-05 09:13] EdwinHoksberg commented on #5
Hi! According to [this](https://firebase.google.com/docs/cloud-messaging/http-server-ref#downstream-http-messages-json) link you can send a message to a topic like this: `/topic/$topicName` as the value for `addRecipient` function.

Example:
[code]

Unfortunately I don't have time to test this now but maybe it works like that :)

[2019-06-07 01:26] #5 closed

[2019-06-11 17:56] rolinger opened #6 "Class fcm\fcmclient not found"
Getting this error:  Fatal error: Uncaught Error: Class 'Fcm\FcmClient' not found

My install:
[code]

And my script:
$senderID = "2...........9" ;
$serverKey = "AAAAMjf9F3s:APA91bEjl4MJ............VwvqxrC0fIkH8G" ;
$response = $client = new \Fcm\FcmClient($serverKey,$senderID) ;

I even tried adding: `use Fcm\FcmClient ;`

But still get same error, `class not found`

[2019-06-12 08:20] EdwinHoksberg commented on #6
Hello, is that your full script you pasted there? Because you didn't include the composer file, try adding this line on top of your file:
[code]
Make sure the path is correct relative to your script file!

[2019-06-12 12:23] rolinger commented on #6
Thanks.  That did the trick.  Maybe that needs to be included in the documentation.  I was trying to use `use Fcm\FcmClient;` or `include Fcm\FcmClient` thinking that would be the path to the class.

[2019-06-12 12:23] rolinger commented on #6
closed.

[2019-06-12 12:23] #6 closed

[2019-06-12 12:43] rolinger opened #7 "Getting unspecified "internal" error"
Here is my first test script, getting an "internal" error that I am having a difficult time find as to why.  Any thoughts on where I should be looking here?  I verified that my PHP settings are permitting both `allow_url_fOpen` and `allow_url_include` (though the fOpen probably isn't needed here)

[code]

The error I am getting is:
[code]

[2019-06-12 16:11] rolinger commented on #7
NM...I had a space leading the $deviceID.  Removed the space and it subscribed just fine.  ugh.  Sorry.

[2019-06-12 16:11] #7 closed

[2019-06-12 16:39] rolinger opened #8 "long form vs shortcut"
Finally got this working using the below:

[code]

However, no success using the shortcut, what am I doing wrong:
[code]

[2019-06-13 01:20] EdwinHoksberg commented on #8
Hey, that should be working fine, which error do you get?

[2019-06-13 12:23] rolinger commented on #8
No error actually.  Just nothing happens.

$response = $client->topicSubscribe('topic',$devID) ;
print_r($response) ;

 just returns the whole object and the topic does not get registered (used a new topic just to ensure it would show up in FCM console.  Waited 10-15min...it never registered.  Then used long form method and topic registered immediately.

[2019-07-04 08:27] webrufox opened #9 "add Badge"
namespace Fcm\Push;

use Fcm\Exception\NotificationException;
use Fcm\Request;

class Notification implements Request
{
...
modify function
...
public function __construct(string $title = '', string $body = '', string $recipient = '', int $badge = 0)
{
        $this->badge = $badge;
.....
}

....
add function
....

    /**
     * @param int $badge
     *
     * @return $this
     */
    public fun

[2019-07-04 08:36] webrufox commented on #3
Need change code

[2019-07-30 21:11] rolinger commented on #3
In fact, need to add a few items like "sound", "icon", "vibrate", etc - https://firebase.google.com/docs/reference/fcm/rest/v1/projects.messages#androidnotification

[2019-07-30 21:12] rolinger commented on #9
`sound` and `icon` too - and probably the rest of these: https://firebase.google.com/docs/reference/fcm/rest/v1/projects.messages#androidnotification

[2019-07-30 21:46] rolinger commented on #9
@webrufox - is `badge` even used anymore?  I couldn't find it in the docs above.

However, I forked this package and added `notfication` support for `sound`, `color` and `icon` - https://github.com/rolinger/php-fcm  - specifically in `src/Push/Notification.php`

@EdwinHoksberg - maybe you could merge my fork back to the main package.

[2019-07-30 21:47] rolinger commented on #3
I forked this package and added `notfication` support for `sound`, `color` and `icon` - https://github.com/rolinger/php-fcm  - specifically in `src/Push/Notification.php`

[2019-07-30 22:23] rolinger opened #10 "Response messages"
When I send a notification that has an error I get something like the below - obviously, the notification does not arrive to my phone:

[code]
In the above, `/topic/` should be `/topics/` - thus it will error out with the below:
[code]

However, when I  send a notification that is successful:

[code]
I do get the notification to my phone.  And correctly sent, I only get the following:
[code]

It s

[2019-07-31 07:16] EdwinHoksberg commented on #9
Hi @rolinger, looks great! If you can send me a merge request I'd happily merge it.

[2019-07-31 07:18] EdwinHoksberg commented on #8
@rolinger, are you still experiencing this error?

[2019-07-31 07:20] EdwinHoksberg commented on #10
Hi @rolinger, it could be that Google changed the output. Because I don't actually use this package a lot could you create a merge request to change the documentation? Thanks!

[2019-07-31 11:55] rolinger commented on #8
@EdwinHoksberg  - I still have the issue.  Saying its an error is misleading as nothing actually happens - which is weird.

[2019-07-31 12:07] rolinger commented on #9
@EdwinHoksberg Never did a pull request for a merge before - I think I just did one, let me know if I didn't do it right.

[2019-07-31 12:47] rolinger commented on #10
@EdwinHoksberg I am rereading FCM documentation this morning.  It turns out your documentation on expected responses is not wrong - there are multiple types of responses based on message type.  There are 3 different types of protocols to communicate push notification messages and I am not fully understanding the difference between the three.

The below are references to the Legacy HTTP Server Prot

[2019-07-31 12:59] rolinger commented on #10
@EdwinHoksberg In our php code, do these needed to be added per platform? - or does FCM just ignore the options in notifications that are/aren't supported by each platform?   Lets add support for all of this - make this repository useful for everyone.

iOS only:
     * badge
     * subtitle

Android only:
    * tag
    * color (added)
    * android_channel_id
    * icon (added)

Both:
    * title

[2019-07-31 15:58] rolinger commented on #10
Added support for all of the following and also updated and clarified the Message docs, you should be able to merge them now.

iOS only:
* badge (added)
* subtitle (added)

Android only:
* tag (added)
* color (added)
* icon (added)

Both:
* title (done)
* body (done)
* sound (added)

[2019-08-01 22:09] rolinger opened #12 "Standard notification with data"
Reading through the code in src/push/notification.php and I see that there is code in the `getBody()` function for:

        if (!empty($this->data)) {
            $request['data'] = $this->data;
        }

Unless I am missing something, I don't see where or how the data is getting passed in?   I think we should merge the Data.php and Notification.php into a single file and the user can just do a

[2019-08-02 00:41] rolinger commented on #12
...actually, I found that just using ->addData("key","value") did the trick.  All good.  I will update my documentation to reflect that.  Its not obvious at all in any of your docs.

[2019-08-02 01:56] rolinger commented on #12
Resolved. closing issue.

[2019-08-02 01:56] #12 closed

[2019-08-02 01:57] rolinger commented on #10
closing this thread, opening a new master with all combined.

[2019-08-02 01:57] #10 closed

[2019-08-02 01:58] rolinger commented on #9
Support for badge, and MUCH more, has been added to my fork `rolinger/php-fcm` - @EdwinHoksberg just needs to merge my pull request.

[2019-08-02 02:06] rolinger opened #13 "Merge pull request please - lots of stuff added"
@EdwinHoksberg I am rereading FCM documentation this morning. It turns out your documentation on expected responses is not wrong - there are multiple types of responses based on message type. There are 3 different types of protocols to communicate push notification messages and I am not fully understanding the difference between the three.

[code]

The below are references to the Legacy HTTP Serve

[2019-08-02 02:15] rolinger commented on #13
Oh, one other thing. Somehow a `#` in a value of key/value pair - regardless if passed in from addDataArray or addData - any thing AFTER (and including) the `#` did not make it into the message.

Its hard to tell whats causing it to get cut off though.  Passing it into php-fcm, php-fcm passing it to google, google passing it to the app...or the  app processing the results.  What would cause a `#`

[2019-08-12 19:33] rolinger opened #14 "Fatal Error for device lookup"
It works fine if there is a valid ID to return info on.  But causes a fatal error if the ID can't be found.

[code]

It looks like the response is being generated from google, but not being processed in the return handler.

[code]

[2019-08-22 14:50] rolinger opened #15 "USE NEW FORK - I don't think the master is supported anymore"
It doesn't look like Edwin has any interest in maintaining the master anymore.  I will probably create a new project off of my current fork to be able to properly support it for the future.  Until then I suggest using my fork as it has plenty of fixes and new features:

https://github.com/rolinger/php-fcm

[2019-10-20 22:55] malikdoksoz opened #16 "Add Sound and Vibrate"
` $request['notification']['default_sound'] = true;
$request['notification']['default_vibrate_timings'] = true;
` `
I recommend that you link it to the library and add optional.
src/Push/Notification.php

[2019-11-21 20:18] rolinger opened #17 "Fatal Error if tokenID is not found using \Fcm\Device\Info"
When retrieving existing device info about a tokenID/deviceID, if the token does not exist Google returns a `404 Not Found {"error":"No information found about this instance id."}`.

This is the offending code:

[code]

If the tokenID exists all is good, however, if not found this response causes a Fatal Error:
[code]

I have tried various things to fix this but nothing so far has worked.  Though

[2019-11-21 20:19] rolinger commented on #17
We are restructuring all of our topicIDs and need to retrieve every subscription for every user to first remove them all from each subscription and then subscribe them to the new topicIDs.  But with the above error, we can't script this because the first non-valid tokenID causes guzzlehttp to Fatal Error.

[2019-11-21 20:49] rolinger commented on #17
locally, In line 66 of `vendor/guzzlehttp/guzzle/src/Middlewar.php` I changed the function from:

[code]

To this:

[code]

This by no means is a permanent fix, but it temporarily allows my scripts to keep working.    I think guzzlehttp needs to fix their code or offer a switch of some sort - not all 404 Responses need to be turned into `throw` Fatal Errors.

[2019-11-25 10:38] titoff002 opened #18 "question : how to broadcast ?"
Hello,

In your example below: what is the variable `$deviceId` ?

How should we initialize it?

How to send a message to all the people who accepted the fcm notification? (do a broadcast).

Thank you for your work.

[2019-12-06 17:02] MagroGaming opened #19 "Fatal error on implement Fcm\Request"
Dear developer,

I'm getting an PHP fatal error on the Notification class.
It seems an easy fix, but I wasn't sure because you should've seen the same error as i'm seeing right now:

PHP Fatal error:  Class Fcm\Push\Notification contains 1 abstract method and must therefore be declared abstract or implement the remaining methods (Fcm\Request::getUrl) in ***/vendor/edwinhoksberg/php-fcm/src/Push/No

[2020-01-10 16:18] AndyGaskell commented on #15
Hi @rolinger

Yea, I agree, Edwin hasn't made any changes for 7 months, so is perhaps no-longer keen to maintain this.

I've been using the code from your fork, and it seems great.  Were you still thinking of creating a new project from your fork?

I have some feedback on the forked code if you like, happy to share it.

Thanks for the work on the fork, some great new features in there.

[2020-01-11 15:25] rolinger commented on #17
Update.  it turns out guzzlehttp has an option that can be set to turn off fatal errors for non-responsive pages.  By default, the option to return a fatal error is turned on.  This should be the proper method versus my solution above.    There are several options on how to address this - none of which I have implemented yet.  Google "guzzlehttp disable fatal errors".  One is an option setting but

[2020-01-11 15:27] rolinger commented on #15
@AndyGaskell - I was hoping he would merge the fork and maintain but he hasn't nor has he really ever responded.  We could create my fork as a new project and we could both be collaborators on it.  I added a manual fix for the deviceID (See issue #17) lookup that turns out is an option in guzzlehttp.

[2020-01-11 15:28] rolinger commented on #16
@malikdoksoz - use my fork, I have added many options that are not supported in the original project - including sound.  I think we will be splitting my fork out as its own project because the original @EdwinHoksberg project owner is no longer supporting this main project.  Stay tuned.

[2020-01-11 15:30] rolinger commented on #18
@titoff002 - $deviceId is the unquie FCM tokenID each device/phone is assigned by Google.  You register deviceID/tokenIDs to a topic, then you send a message to that topic and that message is then broadcast to all users (deviceID/tokenIDs) that are registered to that topic.

[2020-01-11 15:31] rolinger commented on #18
@titoff002  - also, use my fork, it has more FCM options now and is better documented.

[2020-01-11 15:32] rolinger commented on #19
@MagroGaming - did you get this resolved?  Post your code.  Also, you should be using my fork as there are many fixes, additions and better support documentation in my fork.  We should be splitting my fork out as its own project soon as this original project is no longer supported by its creator.

[2020-01-11 15:33] rolinger commented on #14
Resolved with https://github.com/EdwinHoksberg/php-fcm/issues/17

[2020-01-14 15:41] AndyGaskell commented on #15
Hi @rolinger

Yea, I've been working with your fork, and made hit a couple of minor issues that I've fixed locally.  It'd be good to have a way to move this forward and get your enhancements into a master. Also be good to be able to merge my minor fixes too.

If you're concerned about having the new project under your name, we could create a GitHub organisation with members.  I've found previously

[2020-01-14 16:08] rolinger commented on #15
@andyGaskell - I am good with that....Give me a few days to set things up and I will invite you to the project.  I tried doing this in the past for a private project and ran into some issues and gave up.  So I will need to brush up on how to do this correctly.

[2020-01-15 08:53] EdwinHoksberg commented on #15
Hi guys, sorry for the late replies! I don't use this project in production anymore so it has lost my focus. I'd be glad to transfer this project to either one of you.
I could add you both as collaborators here or if you want to create a new project I could archive this one. Any preferences?

[2020-01-15 11:39] AndyGaskell commented on #15
Hi @EdwinHoksberg

Thanks for the reply, glad you're ok.  I always end up wondering, with repos that are no longer maintained, what has happened to the maintainer.

There is definitely an advantage to keeping the package in the same place, so adding me and @rolinger to this one would be a good solution.  Maintaining libraries is tricky for one person, I'm sure it'd be a positive thing if there wer

[2020-01-15 12:11] EdwinHoksberg commented on #15
Thank you for your kind words @AndyGaskell! I've added you and @rolinger as collaborators to this project, you should've received an email with the invitation.

[2020-01-15 12:41] AndyGaskell commented on #15
Thanks @EdwinHoksberg I've received and accepted the github invite, that's all working well.  There was a small PR for a doc change, so I merged that in, to check it's all working ok.

Moving forward, @rolinger and me will work on getting his new features into the master and testing it all.

At my work we've just integrated it into our production platform, so should be working with it for a couple

[2020-01-27 15:00] rolinger commented on #19
@MagroGaming - we just made a bunch of fixes and merged the new build.  Try retesting now.

[2020-01-27 15:01] rolinger commented on #18
No response, closing.

[2020-01-27 15:01] #18 closed

[2020-01-27 15:44] rolinger commented on #16
@malikdoksoz - sound has been added and vibrate is supported if you are sending data payload.

#closing.

[2020-01-27 15:44] #16 closed

[2020-01-27 15:44] rolinger commented on #15
fork has been merged.

#closing

[2020-01-27 15:44] #15 closed

[2020-01-27 15:45] #14 closed

[2020-01-27 15:46] rolinger commented on #9
`badge` support has been  added.

#closing.

[2020-01-27 15:46] #9 closed

[2020-01-27 15:48] rolinger commented on #2
@bhullar89 - we have some new developers on the project now.  We will see about adding your request to the list.

[2020-01-27 15:48] rolinger commented on #3
`sound` is now supported.

#closing.

[2020-01-27 15:48] #3 closed

[2020-01-27 15:52] rolinger commented on #13
rolinger fork was merged.  closing.

[2020-01-27 15:52] #13 closed

[2020-02-04 13:29] AndyGaskell commented on #17
I've been hitting this same issue, I'll have a look and see if I can figure out the guzzlehttp fix.

[2020-02-04 13:53] AndyGaskell commented on #17
I think, in the getGuzzleClient function, setting http_errors to false, we can change this to not error, so in...
https://github.com/EdwinHoksberg/php-fcm/blob/d188969e2270856ea48ec773ccca76019c6d4e5a/src/FcmClient.php#L115

We could change it from...
[code]
...to...
[code]

We should have a think if we want this everywhere though. What do you think @rolinger ?

[2020-02-04 13:55] rolinger commented on #17
I still have the above fix in my server code...hadn't gotten back around to figuring out the best solution.  Been hard at work revamping the billing system for our platform - its quite complicated with too many billing permutations/combinations.  Been buried in it for last few weeks now.

On a side note, aside from tracking each app instance to see if a user has enabled/disabled push notifications

[2020-02-04 14:02] rolinger commented on #17
@AndyGaskell - Nice, a clean method.  yeah, I like that.  Maybe make the `'http_errors' => false,` an option parameter in our code.  Something like:

At the client method: ` $client = new \Fcm\FcmClient($apiToken, $senderId, "true/false");`

Or at the Device\Info method:
[code]

[2020-02-04 14:02] AndyGaskell commented on #17
yea, billing systems are hard, and people seem to get upset if they get it wrong, can't think why though :)

Yea, we've been facing some similar questions.

I'm not sure about if the user doesn't accept push permissions, I'll maybe give it a try.  I like the idea of checking if they have a subscription, and if not, sending them a SMS message.

Are you using Cordoba?  Just out of curiosity, it's al

[2020-02-04 14:16] AndyGaskell commented on #17
They should have threads in Github issues, that always confuses me, replies out of sync.

The `getGuzzleClient` function is called in the `send` function, so it's be easier to have this option/parameter in the `send` function.

So, we could add a second optional parameter to the `send` function, and then add an optional parameter to the `getGuzzleClient` function.

It's probably simpler to explain

[2020-02-04 14:20] rolinger commented on #17
We are using Cordova/Ionic.

If the deviceID is not longer valid FCM removes it from any/all subscriptions in real time.  We already experienced this...our DB had old deviceIDs (thus the user has not used the app in a while which would auto-refresh the deviceID in our DB).  Thus when we went to pull deviceID info for subscribed topics we got a "badID" (which in turn caused the above `\Device\Info`

[2020-02-04 14:21] rolinger commented on #17
RE guzzlehttp - I get what you are saying...have it hard set to `false` with option to re-enable from the `send` function.

[2020-02-04 14:29] AndyGaskell commented on #17
Hmm, just trying that, but need to have a think more about error handling.

So it works nicely, with no guzzle error, but then you end up getting a json decode error in the `send` function instead, like...

[code]
...which makes sense, as it assumes `getUrl` will come back with good json.

Thanks for the details on your system design, that's really interesting to know.  We're only been using FCM f

[2020-02-04 14:30] rolinger commented on #17
I am not impressed with Google FCM implementation.  It is very limited - and considering its Google, that strikes me as really odd.

[2020-02-10 13:52] OmkarFatale commented on #6
I'm having the same issues, I have included "require 'vendor/autoload.php'" at top.
<?php
// Load composer
require 'vendor/autoload.php';

$server_key = "AAAAfAxtccc:************41";

$sender_ID = "532************";

$client = new \Fcm\FcmClient($server_key, $sender_ID);

var_dump($client);

Errors:

Fatal error: Uncaught Error: Class 'Fcm\FcmClient' not found in C:\wamp64\www\php-fcm\php-fcm.php

[2020-02-13 12:22] mhd-yasser-haddad opened #22 "Internal server error"
I tested and tried the notification on the local server and everything was going fine and the notification was sent successfully, but when I uploaded the project to the server (windows server) the function would give me 500 internal server error on the send function.
Could you please help me?
thank you in advance

[2020-02-13 12:59] rolinger commented on #22
@mhd-yasser-haddad - you will need to post a bit more info.  What is your config...what are your paths to the php-fcm project, etc?  What is your script referencing? etc.

[2020-02-13 14:21] mhd-yasser-haddad commented on #22
so I have this function inside a class that sends the notification:
//////////////////////////////
/////////////////////////////
public static function sendNotification($title, $body, $deviceToken, $data)
    {

        // Instantiate the client with the project api_token and sender_id.
        $client = new \Fcm\FcmClient(SELF::$serverKey, SELF::$senderId);

        // Instantiate the push notifi

[2020-02-13 14:34] rolinger commented on #22
@mhd-yasser-haddad  - Internal server error 500 typically means your code has errored out.  Go to the folder with the script in it and check the `error_log` to see if there is anything telling  you whats wrong.  If you don't see anything try a manual execution of the file from the command line and check error_log again.  I suspect your paths to the FCM-PHP are not correct.

[2020-02-13 15:00] mhd-yasser-haddad commented on #22
I tried to look for the error log file but I was unable to locate it, But I tried to use and call this function on the local server and everything ran okay, and I think that if the problem was from the directories the initialise of the $client and $notification variable wouldn't work out? don't you think?

[2020-02-13 18:46] rolinger commented on #22
unless you post actual technical stuff, not certain there is much anyone can do assist you.

[2020-02-17 12:18] mhd-yasser-haddad commented on #22
It turns out that the problem was from the server ports and IP because there are specific ports that the firebase need to use to send notifications from.
Thank you for your help.
Here are the links that helped discover the problem:
https://firebase.google.com/docs/cloud-messaging/concept-options
https://support.fitnessondemand247.com/hc/en-us/articles/360007883114-Firewall-and-Network-Port-Rules

[2020-02-17 12:18] #22 closed

[2020-03-26 13:33] AndyGaskell opened #23 "FCM: Migrate from legacy HTTP to HTTP v1"
Just really writing this as a note, and/or a place for a discussion about it.

So, at the moment we use the FCM API referred to as "HTTP", this is now described as legacy by google, the current one being "HTTP v1".

I didn't realise we were not using the latest version to be honest.

There are some good migration notes on...
https://firebase.google.com/docs/cloud-messaging/migrate-v1

Some backgro

[2020-03-26 14:18] rolinger commented on #23
Well since the zombie apocalypse has hit us all maybe we have some time to provide migration path in the project. I think it should be easy enough to do as long as we can provide a user method to input their project ID. The bigger issue though might be the OAuth2 credentials and possibly having to provide instructions on how to set those up in fcm and in our project

Get Outlook for Android<https:

[2020-03-26 15:25] AndyGaskell commented on #23
Yea, no rush really, the older API hasn't had an end of life date set or anything.

Just thought I'd jot this down so it was kinda on the radar.

[2020-04-17 14:39] rolinger commented on #23
@AndyGaskell - for sending notifications, our methods allow for adding as many recipients via `addRecipient` and another method that allows for passing an array of recipients.  Sending notifications allows for this.  But are you aware of a FCM method that could allow us to send an array (or bulk) tokenIDs for the deviceInfo?  I want to send a mass array of 1,000 tokenIDs to see which of those toke

[2020-06-02 16:13] bimbo1989 opened #24 "411 Length Required when sending push notifications"
Hi, I'm using this very simple code to send the notifications

[code]

But I'm getting a 411 error in response when sending. How can I set the Content-Length, appearently required?
Thank you!

[2020-06-02 16:57] rolinger commented on #24
@bimbo1989 - interesting.  Will look into this and get back.  Currently header `Content-Length:` is not an option that can be set.  But also not certain why you are getting it either.  No one else has reported this and I have not seen this issue or error before.

[2020-06-02 17:02] rolinger commented on #24
@bimbo1989 - can you post your `$my_title` and `$my_message` values you are testing with?

`Check that the total size of the payload data included in a message does not exceed FCM limits: 4096 bytes for most messages, or 2048 bytes in the case of messages to topics. This includes both the keys and the values.`

[2020-06-02 17:29] rolinger commented on #24
@bimbo1989 - upon further review it looks like you are mixing methods.

`addTopic` does not exist.  Not even for subscribing to a new topic.

To send an actual notification it would be:
[code]

[2020-06-02 18:05] bimbo1989 commented on #24
@rolinger ok, I removed the addTopic and replaced it with addRecipient as you suggested (sorry for that mistake) but unluckily I still get the same 411.
This is a print_r of the $notification variable before sending it.

[code]

Do I need to add something else?

[2020-06-02 18:14] rolinger commented on #24
@bimbo1989 Please post the $response from `$client->send($notification) ;`

@AndyGaskell - you have any thoughts on this one?

[2020-06-02 18:28] bimbo1989 commented on #24
It might be interesting to add that everything was working fine while in localhost, using the web API key.
Then I deployed to production and... 411. First I had a different error because I was still using the Web API key, the 411 began to appear when I used the Cloud Messaging server key.
Did I do something wrong there? I'm sure it's not your fault, I must be doing something very stupid being a ne

[2020-06-02 18:33] bimbo1989 commented on #24
@rolinger I get no $response because the exception gets thrown before getting the response from the server

[2020-06-02 18:40] rolinger commented on #24
Are you trying:
`$reponse = $client->send($notificaiton) ;`

The error would then be like: `$response['results'][0]['error']`

Well, its def not my fault, because mine works just fine.  :-)   However, if you had it working with localhost, then my guess is you have something else going on.  Verify your serverID and tokenIDs - and that your production server (domain) is allowed to use those keys.

[2020-06-02 18:47] bimbo1989 commented on #24
@rolinger  no $response either because the exception is thrown inside send() so it does not return anything. I'll try and check the IDs and let you know

[2020-06-02 18:51] bimbo1989 commented on #24
@rolinger I solved!
I just generated a new server key and it worked flawlessly. The weird thing is that the new one has no differences compared to the first. Oh well!
I'm really sorry for wasting your time, but I hope that this thread might help someone in the future :)

[2020-06-02 18:51] #24 closed

[2020-06-06 17:17] VincentNikkelen opened #25 "Documentation not consistent with composer package"
Hi,

I just started evaluating your component and discovered an issue that might put off less experienced users.

Documentation recommends installation with composer, but the first Notification example is using methods like setColor, setSound and setIcon which are not available in the composer package.

May I recommend to create a new release to bring the code downloaded by composer in line with t

[2020-07-30 13:03] AndyGaskell commented on #25
Thanks for raising this @VincentNikkelen

From looking at...
https://packagist.org/packages/edwinhoksberg/php-fcm
...it seems to be using 1.0.0 by default, which is from 2018-04-09.

I'll have a look and see about updating it in Packagist to use dev-master.

[2020-07-30 13:17] AndyGaskell commented on #25
Just adding a tag with...
`git clone git@github.com:EdwinHoksberg/php-fcm.git
cd php-fcm
git tag 1.1.0
git push origin 1.1.0`
...then setting it to release at https://github.com/EdwinHoksberg/php-fcm/tags

[2020-07-30 13:29] AndyGaskell commented on #25
I made a release of the latest dev-master, from the 1.1.0 tag at https://github.com/EdwinHoksberg/php-fcm/releases

[2020-07-30 13:30] AndyGaskell commented on #25
Now v1.1.0 seems to be the default version on packagist, so composer should pick that up.

https://packagist.org/packages/edwinhoksberg/php-fcm

[2020-07-30 13:32] AndyGaskell commented on #25
Doing a quick test of...
`composer require edwinhoksberg/php-fcm`
...it gives the output with the new 1.1.0 release...

Using version ^1.1 for edwinhoksberg/php-fcm
./composer.json has been created
Loading composer repositories with package information
Updating dependencies (including require-dev)
Package operations: 11 installs, 0 updates, 0 removals
  - Installing ralouphie/getallheaders (3.0.3)

[2020-07-30 13:33] AndyGaskell commented on #25
If you could test it too @VincentNikkelen that would be really helpful

[2020-07-30 15:00] AndyGaskell opened #28 "Increase automated test coverage to 100%"
Think we just need 2 more tests to increase automated test coverage to 100%.

It's at 98.9% at the moment on https://coveralls.io/github/EdwinHoksberg/php-fcm

Add a test that passes data param into the constructor...
https://coveralls.io/builds/32427333/source?filename=src/Push/Notification.php#L69

Add a test to test exception catching when passing a non-array into the addDataArray function...
h

[2020-07-30 21:29] #25 closed

[2020-07-31 10:04] VincentNikkelen commented on #25
@AndyGaskell Works like a charm:
  - Downgrading edwinhoksberg/php-fcm (dev-master d188969 => v1.1.0):  Checking out 772f1f49bd
Wouldn't worry about the downgrading wording, issue in composer.
Thanks.
Btw, can confirm I have decided to use your package in my code. Was easy to use and simply works. Thank you very much.

[2020-08-01 05:29] rayansys opened #29 "Android Notification channel id"
add this header & functions

[2020-08-02 12:09] AndyGaskell commented on #29
Hi @rayansys

Could you provide a bit more info please? Perhaps some detail on what you're trying to do and where you hit this issue.

Fireball cloud messaging doesn't really have channels,  but topics instead. Topics are fully supported by php-fcm.

More info...

https://firebase.google.com/docs/cloud-messaging/android/topic-messaging

https://php-fcm.readthedocs.io/en/latest/message.html#notific

[2020-08-02 12:18] AndyGaskell commented on #25
@VincentNikkelen
Thanks for checking the fix, and your feedback. Glad it's work well for you 🙂

[2020-08-02 12:26] rayansys commented on #29
The notification's channel id (new in Android O).

The app must create a channel with this channel ID before any notification with this channel ID is received.

If you don't send this channel ID in the request, or if the channel ID provided has not yet been created by the app, FCM uses the channel ID specified in the app manifest.

[2020-08-02 13:16] AndyGaskell commented on #29
Thanks for the quick reply.

The php-fcm library just really wraps functionality in provided by firebase cloud messaging. If you can point us to the fcm docs about channels, that'd be handy.

Previously I've used other messaging systems that used the term channels, like  Appcelerator ACS. It was my understanding that the concept channels is kind of implemented as topics now in FCM, but I'm not rea

[2020-08-02 15:40] rolinger commented on #29
@AndyGaskell @rayansys  - yeah, I don't understand the request.  TopicIDs are managed by php-fcm.  Can you point us to some documentation about what you are referring to please?

[2020-08-02 15:54] rayansys commented on #29
https://firebase.google.com/docs/reference/fcm/rest/v1/projects.messages#androidnotification

[2020-08-03 00:41] AndyGaskell commented on #29
Thanks for the link. I'll do some reading on that. I guess we've not implemented it because it's Android only.

[2020-08-03 01:35] rolinger commented on #29
@AndyGaskell - I did a quick read, it looks like `channel ID` allows you to setup different types of notifications within your app which then allows users to turn off/on specific types of Push Notifications versus just ALL ON or ALL OFF.   Which I do like.  It allows the user to customize, via Android settings, what components inside each app can notify and how they can notify (sound, buzz, popup,

[2020-08-03 04:31] rayansys commented on #29
just add "android_channel_id" to request header

[2020-08-03 08:06] AndyGaskell commented on #29
Cool, am understanding it a bit more now.  Thanks for the notes @rolinger

I guess we've only ever implemented the cross platform features of FCM, we could do the platform specific ones too.

So, looking at https://firebase.google.com/docs/reference/fcm/rest/v1/projects.message we could add other functions to add android, webpush and apns.  This could maybe be done in the same way as the addData,

[2020-08-06 21:22] AndyGaskell commented on #29
Thanks for the PR @rayansys this is a nice simple aproach, but I'm not sure how it'll scale out to other Android, iOS and Web config options.

PR at...
Update Notification.php #30

[2020-08-06 21:33] AndyGaskell commented on #19
I think we can close this now.

@MagroGaming please re-open it if you're still having this issue

[2020-08-06 21:33] #19 closed

[2020-08-06 21:34] AndyGaskell commented on #17
Hopefully this is fixed by...
potential solution for guzzle options #31

[2020-08-07 19:52] AndyGaskell commented on #17
A fix for this is now in the code.

See https://php-fcm.readthedocs.io/en/latest/packageoptions.html

[2020-08-07 19:52] #17 closed

[2020-08-07 21:18] AndyGaskell opened #32 "Guzzle option, made a bit of a mess of the commit / merge"
Hi @rolinger

Sorry, I made a bit of a mess of the Guzzle option changes, so thought I'd best jot some notes to explain.

I think the code, docs and tests are all ok, but I accidentally merged directly into the master, rather than into my branch and then making a PR.

This is related to...

-  Revert "added Guzzle options to prevent PHP fatal error" #27
-  added Guzzle options to prevent PHP fatal

[2020-08-08 12:46] rolinger commented on #32
@AndyGaskell - uh, you assigned this to me.  Assigned what specifically? Do I need to revert something?

[2020-08-08 23:47] AndyGaskell commented on #32
Hi @rolinger
Sorry, no, nothing to do really, just wrote this up as an issue to explain what had happened with the merge.
I guess my reason for assigning it to you was so you'd be aware of it all and could check it looks OK.  As I accidentally just merged it into master there was no PR to review.
If it looks ok, code and docs, just close this.  Sorry it's not done properly with a PR.

[2020-10-02 07:28] #32 closed

[2020-10-24 04:29] Kulltero commented on #8
this issue is a year old, but i'd like to point out 2 things:

1. when calling $client->topicSubscribe(), the second argument needs to be a string as the shorthand creates a Subscribtion instance that explicitly expects a string in its constructor (though this could be expanded to also allow arrays as the relevant function to add the deviceID does accept strings OR arrays).
2. calling $client->top

[2020-10-26 23:15] AndyGaskell opened #38 "Sending to multiple topics fails"
Sending to multiple topics fails, I think it should work.

So, this code works...
[code]

Giving the response...
[code]

But this code, with two topics, does not work...
[code]

It gives...
[code]

[2020-10-26 23:18] AndyGaskell commented on #38
Perhaps I should be using the `addTopic` function.

Just reading the docs and tests.

https://github.com/EdwinHoksberg/php-fcm/blob/master/tests/PushTests/NotificationTest.php
https://php-fcm.readthedocs.io/en/latest/message.html

[2020-10-27 14:59] AndyGaskell commented on #38
I think we could do with making the docs clearer, but this is user error really :)

[2020-10-27 14:59] #38 closed

[2020-10-27 19:54] rolinger commented on #38
Aren't there two sets of docs, the ones in the git, and the others posted on that remote site?  does the remote pull from the git or are they updated separately?  If separately, I say scrape the remote ones, too much too maintain.

________________________________

From: Andy Gaskell <notifications@github.com>
Sent: Tuesday, October 27, 2020 10:59 AM
To: EdwinHoksberg/php-fcm <php-fcm@noreply.gith

[2020-10-29 11:09] AndyGaskell opened #39 "Improve documentation"
I think we could improve the documentation.

Some parts of https://php-fcm.readthedocs.io/ are unclear or out of date.

Just jotting this down as an issue so I remember to come back to it.

If anyone has any thoughts on documentation, please jot them here, like...

- Bits that are unclear
- Bits that are out of date
- Features or options that are not documented
- Any other ideas to improve the doc

[2020-10-29 11:11] AndyGaskell commented on #8
I'll try address this in...
 Improve documentation #39

[2020-10-29 11:16] AndyGaskell opened #40 "If you add more than five topics in FCM, the push doesn't send"
This is an odd one, but in FCM, if you add more than 5 topics, the message doesn't send.

This is really unhelpful in Firebase.

It's mentioned in the docs...
https://firebase.google.com/docs/cloud-messaging/send-message

There is discussion about it at...
https://stackoverflow.com/questions/44413037/how-to-send-fcm-push-notifications-to-multiple-topics

At the very least we can mention this in th

[2020-11-24 15:17] AndyGaskell commented on #38
Hi @rolinger
Sorry, I only just saw this.  The docs at https://php-fcm.readthedocs.io/ get pulled from github via the CI/CD scripts.

[2021-01-05 18:40] shaffe-fr opened #41 "Tag a new version for Guzzle 7"
Hi,
Would it be possible to tag a new version to make the Guzzle 7 support available in composer?
Thanks

[2021-01-07 08:25] bluelupin commented on #41
It would be great if it could support Guzzle 7.2.
Not able to use it with Laravel 8.*

[2021-01-07 09:01] shaffe-fr commented on #41
Same here. By the way, I try to use the latest master on Laravel 8 and it's working great.

[2021-01-07 09:03] shaffe-fr opened #42 "Optional Laravel support"
Hello,
Would you be open to merge a PR to add a simple Laravel support?
It could be done with a few new files (ServiceProvider and config file) and none would change.
Thank you,
Karel

[2021-01-18 11:07] AndyGaskell commented on #41
ok, I'll have a look

[2021-01-18 11:09] AndyGaskell commented on #42
Hi Karel @shaffe-fr
That sounds fine, we'd be open to that I think.  If you make a PR with the change we can test it and merge it if it look ok.
Thanks

[2021-01-19 01:37] AndyGaskell commented on #41
I created a new release tag from master, 1.2.0

I had to tweak a couple of travis bits, but that was ok I think

It seems to have updated at https://packagist.org/packages/edwinhoksberg/php-fcm

@shaffe-fr and @bluelupin does this look ok?

[2021-01-19 09:54] shaffe-fr commented on #41
Works perfectly, thanks!

[2021-01-19 09:54] #41 closed

[2021-01-19 18:31] shaffe-fr commented on #42
Hi @AndyGaskell,
I created a PR here #46.

[2021-01-25 22:56] AndyGaskell commented on #42
Thanks @shaffe-fr I'm just in the process of moving house,  but will try and look over this in a few days time

[2021-04-14 16:19] lukasza67 opened #48 "Priority settings missing?"
Hello and thanks for a great work!

I have been going through the documentation and it seams that there is no way of setting the message priority for the notification. As it is now it sends with no settings and it gets "normal" priority by default at FCM-level. Or did I miss to set it manually somewhere?

I think this is a very important feature as on battery saving mode or locked screen the notif

[2021-04-14 17:44] lukasza67 commented on #48
So I've solved the issue by doing the following quick fix:

In the end of Push/Notification->getBody() I simply added:
[code]

This made my notifications go in warp speed no matter of the devices state (I used cordova).

![image](https://user-images.githubusercontent.com/25504901/114754827-ad4faa80-9d61-11eb-887f-a516c905298d.png)

Also for housekeeping purposes :smiley:

[2021-04-26 13:25] AndyGaskell commented on #48
Hi @lukasza67
That's really useful to know, thanks, I didn't realised normal priority push messages were treated that way.  I'll have a look at writing a getter and setter for this.
Re getBody v setBody, I see what you mean, if we can't fix this in a non breaking way we can adjust the docs to better explain it.

[2021-05-14 12:35] mehrshaddarzi opened #49 "Add TTL in Notification?"
Hi,
How to add TTL parameter for expire time notification?

https://firebase.google.com/docs/cloud-messaging/concept-options#example-notification-message-with-platform-specific-delivery-options

[2021-05-20 09:05] VanManuel83 opened #50 "addTopic in && non only in ||"
Is it possibile to implement the feature wich we can control the push condition by ourself.
So we can control the query to select the correct user to sent notification  direct, in OR, AND or a both method!

Thanks

[2021-05-20 14:24] rolinger commented on #50
@VanManuel83 - could you elaborate on the request please.  I am not fully understanding the request.  Provide an example of what you are looking to do.

[2021-05-20 14:42] VanManuel83 commented on #50
Yes...

In Data and Notification  php file in the getBody function there is this lines of code:

`if (!empty($this->topics)) {
            $request['condition'] = array_reduce($this->topics, function ($carry, string $topic) {
                $topicSyntax = "'%s' in topics";

                if (end($this->topics) === $topic) {
                    return $carry .= sprintf($topicSyntax, $topic);

[2021-05-20 14:46] rolinger commented on #50
Thanks for clarifying.  Unless I am misunderstanding the request, you can already do this, up to 5 topics per message:

[code]

[2021-05-21 14:26] rolinger commented on #50
@VanManuel83  - I don't understand.   Isn't that what you want....to send messages on both Sport AND Food?

[2021-05-21 15:47] VanManuel83 commented on #50
Sorry, no!

Make an exampe:

Registration form with classic user data and a checkboxes with interesting (Sport, Food, Travel, AI, VR ... )

User A select Sport and Food
User B select Sport and Travel

If i use the code above, Firebase send the notification to user a and the user b, beacuse both are in the topic Sport.

I need to send notification only to user a beacuse it had the interesting sport

[2021-05-26 08:48] AndyGaskell commented on #50
Hi @VanManuel83

Is this a feature provided by the Firebase Cloud Messaging system?

I can't find any mention of it in google's documentation, like at https://firebase.google.com/docs/cloud-messaging/android/topic-messaging

I think PHP-FCM can only really provide a wrapper API for features provided by the underlying FCM system.

[2021-05-26 08:53] AndyGaskell commented on #49
The package doesn't have this feature at the moment, it would be a handy thing to add though

[2021-06-01 16:46] Mike-Benoit commented on #29
This functionality would be really nice to have, @AndyGaskell will you only accept a design similar to what you described in your previous comment regarding addAndroidConfig(), addApnsConfig()?

[2021-06-03 13:22] VanManuel83 commented on #50
Hi @AndyGaskell ,
here we talk about php, or javascript, so the link to referrer to is:
[](https://firebase.google.com/docs/cloud-messaging/js/topic-messaging)

At the bottom, you can find:
"TopicA' in topics && ('TopicB' in topics || 'TopicC' in topics)"
That's the point i was looking for and i was tring to do by myself ;)

[2021-06-09 14:06] AndyGaskell commented on #50
Hi @AndyGaskell

Ah, I see it, sorry, I'd not made it that far down the document
https://firebase.google.com/docs/cloud-messaging/js/topic-messaging#build_send_requests

So, we'd have to add the `condition` element to the message.

We could probably work this into Push -> Notification -> getBody but it'd need a few changes, I'll have a think about how we'd implement it
https://github.com/EdwinHoks

[2021-11-18 09:29] AndyGaskell opened #51 "If you send a data only push, and empty message is sent"
There is an issue in Push/Notification.php whereby if you want to send a data only message, so, you leave the title, body etc fields blank, it'll still send a non-data push message, but just with blank content.

I've a code fix for this, so will do a PR this afternoon.

[2022-02-08 09:03] hniehorster opened #52 "Not Registered in Results => remove device_id"
Hey,

@EdwinHoksberg thanks for the Github! Really love it!

We have users with a lot of devices, and we send messages to all of them. The results have error's and message ID's. But whenever there is a error I would like to know what device_id is no longer registered. Is this possible?

Here is the part of your response.

`{
    "multicast_id": 1152899987548651788,
    "success": 16,
    "failure"

[2022-02-23 05:13] TalatNaeem commented on #23
can somebody help to understand that , do we have to change payload's structure in order to send message if we are migrating from legacy HTTP to HTTP v1.
Thanks

[2022-03-01 00:20] AndyGaskell commented on #52
Hi Hjalte @hniehorster
Thanks for raising this issue and for getting involved.  It's great you like the package.
At the moment, the only way to do this is to send one push at a time.  We've been trying to figure out a way of returning responses that can explain partial success / partial failure, but we've not quite decided the best option yet.
We'll try and come up with a solution soon, any ideas

[2022-03-07 18:06] nronaldvdberg opened #53 "content_available field"
Not sure if this is an issue on your side or on my side, but my iOS app (built in Unity and using Firebase Messaging SDK) does not receive any data messages unless I add:

$request['content_available'] = true;

to the Notification / Data object. (Android works perfectly fine without it)

[2022-03-11 08:08] nronaldvdberg opened #54 "Feature request: set time out value"
Thanks for this package. It would be great if you could add an option to set the time-out value for the curl call in the next release.

[2022-03-11 11:38] rolinger commented on #52
@AndyGaskell - last time I got my hands dirty with this package I recall that FCM didn't return errors for bad device IDs.  In my apps FCM simply just pulls a new device pushID from the device itself if the current one has expired.  But I don't recall being able to retrieve status per device ID.  Has this changed?

[2022-05-06 15:11] AndyGaskell commented on #54
Thanks for the suggestion @nronaldvdberg we'll try and work that in

[2022-09-27 20:41] Philipp91 commented on #48
How about renaming getBody() to buildJsonRequest() and leaving behind a deprecated getBody() that just redirects and will be removed in the next major release?

[2022-09-27 20:42] Philipp91 commented on #48
I'd also need the priority. I believe I could put together a PR if that helps.

[2022-09-27 20:44] Philipp91 opened #57 "Missing collapse key"
See docs: https://firebase.google.com/docs/cloud-messaging/concept-options#delivery-options

And another PHP implementation: https://github.com/Paragraph1/php-fcm/blob/b8d6fec2c5327ed8fbe09d4d1cc0b53467a340e0/src/Message.php#L151

[2022-09-30 14:17] AndyGaskell commented on #57
Thanks @Philipp91 I'll try and implement that.

I've not seen Paragraph1/php-fcm so that's handy to see how they've implemented things.

[2022-10-01 19:21] Philipp91 commented on #51
I first believed I was affected by this, but then I stopped using the `Notification` class and started using `Push` instead, which works as intended, at least in some initial testing. So maybe this can be closed.

[2022-10-01 19:25] Philipp91 commented on #57
Thanks. If you prefer, I can also take a stab at it. Btw, is this repository still maintained? I haven't seen a reaction to my (unrelated) PR, there are several PRs open for a while, and @EdwinHoksberg hasn't been active on GitHub for a while.

@EdwinHoksberg This may just be a coincidence (like vacation week or sth like that), in which case please disregard my comment. Though if you find yourself

[2022-11-03 18:19] AndyGaskell commented on #57
Hi @Philipp91
Although Edwin created this project originally, he did not have time to maintain it really.  So a couple of years ago he gave admin access to me and @rolinger.
While we try to keep on top of things, time commitment is always a bit of a juggling act.  I need to set aside a couple of days to catch up on issues and PRs.  Some parts of the project are not in my core skill set, like the t

[2022-11-04 10:37] rolinger commented on #57
@AndyGaskell - heh....`set aside a couple of dsays to catch up on issues`.  I wish I just had a couple of hours.  I try to keep up with this repo and I know advances have been made with it and how push notifications work in general - none of which I have had time to incorporate into my projects.  Ugh.